body {
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    color: #30332E;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.operation_btn {
    display: flex;
    margin-top: 50px;
}

.update_btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: #3282b8;
    color: white;
    font-size: 1rem;
    width: 90px;
    height: 40px;
    line-height: 40px;
    border: none;
    margin-right: 20px;
    border-radius: 3px;
}

.delete_btn {
    display: inline-block;
    background: #3282b8;
    color: white;
    font-size: 1rem;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 3px;
}

.updatebtn:visited {
    color: white;
}